<form name="formHolder.loan" id="formHolder.loan" novalidate>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_date.$touched && formHolder.loan.loan_date.$invalid}">
	<label>Date</label>
	<input type="date" class="form-control" name="loan_date" ng-model="data.loan.loan_date" required>
	<span class="help-block" ng-show="formHolder.loan.loan_date.$touched && formHolder.loan.loan_date.$invalid">Date is required</span>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_type.$touched && formHolder.loan.loan_type.$invalid}">
	<label>Type</label>
	<select class="form-control" name="loan_type" ng-model="data.loan.loan_type" required>
		<option value="Salary">Salary</option>		
		<option value="Others">Others</option>		
	</select>
	<span class="help-block" ng-show="formHolder.loan.loan_type.$touched && formHolder.loan.loan_type.$invalid">Type is required</span>
  </div>  
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_description.$touched && formHolder.loan.loan_description.$invalid}">
	<label>Description</label>
	<input type="text" class="form-control" name="loan_description" ng-model="data.loan.loan_description" required>
	<span class="help-block" ng-show="formHolder.loan.loan_description.$touched && formHolder.loan.loan_description.$invalid">Description is required</span>	
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_amount.$touched && formHolder.loan.loan_amount.$invalid}">
	<label>Amount</label>
	<input type="text" class="form-control" name="loan_amount" ng-model="data.loan.loan_amount" required>
	<span class="help-block" ng-show="formHolder.loan.loan_amount.$touched && formHolder.loan.loan_amount.$invalid">Amount is required</span>	
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
	<label>Offset</label>
	<input type="text" class="form-control" name="loan_offset" ng-model="data.loan.loan_offset">
  </div>  
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_monthly.$touched && formHolder.loan.loan_monthly.$invalid}">
	<label>Monthly Payment (Full)</label>
	<input type="text" class="form-control" name="loan_monthly" ng-model="data.loan.loan_monthly" required>
	<span class="help-block" ng-show="formHolder.loan.loan_monthly.$touched && formHolder.loan.loan_monthly.$invalid">Monthly full payment is required</span>	
  </div>  
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_monthly_first.$touched && formHolder.loan.loan_monthly_first.$invalid}">
	<label>Monthly Payment (First Half)</label>
	<input type="text" class="form-control" name="loan_monthly_first" ng-model="data.loan.loan_monthly_first" required>
	<span class="help-block" ng-show="formHolder.loan.loan_monthly_first.$touched && formHolder.loan.loan_monthly_first.$invalid">First half payment is required</span>	
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_monthly_second.$touched && formHolder.loan.loan_monthly_second.$invalid}">
	<label>Monthly Payment (Second Half)</label>
	<input type="text" class="form-control" name="loan_monthly_second" ng-model="data.loan.loan_monthly_second" required>
	<span class="help-block" ng-show="formHolder.loan.loan_monthly_second.$touched && formHolder.loan.loan_monthly_second.$invalid">Second half payment is required</span>	
  </div>  
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_months.$touched && formHolder.loan.loan_months.$invalid}">
	<label>No of months</label>
	<input type="text" class="form-control" name="loan_months" ng-model="data.loan.loan_months" required>
	<span class="help-block" ng-show="formHolder.loan.loan_months.$touched && formHolder.loan.loan_months.$invalid">No of months is required</span>	
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.loan.loan_effectivity.$touched && formHolder.loan.loan_effectivity.$invalid}">
	<label>Effectivity Date</label>
	<input type="date" class="form-control" name="loan_effectivity" ng-model="data.loan.loan_effectivity" required>
	<span class="help-block" ng-show="formHolder.loan.loan_effectivity.$touched && formHolder.loan.loan_effectivity.$invalid">Monthly payment required</span>	
  </div>   
</div>
</form>