<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
	<thead>
	  <tr class="headings">
		<th class="column-title">ID </th>
		<th class="column-title">School Year </th>
		<th class="column-title">Category </th>
		<th class="column-title">Description </th>
		<th class="column-title no-link last"><span class="nobr">Action</span>
		</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="even pointer" ng-repeat="row in filterData = (fees | filter: views.search) | pagination: currentPage:pageSize">
		<td class="">{{row.id}}</td>
		<td class="">{{row.school_year.school_year}}</td>
		<td class="">{{row.category}}</td>
		<td class="">{{row.description}}</td>
		<td class="last list-action">
			<a href="javascript:;" ng-click="form.fee(this,row)"><i class="fa fa-search"></i></a>
			<a href="javascript:;" ng-click="form.clone(this,row)"><i class="fa fa-copy"></i></a>			
			<a href="javascript:;" ng-click="form.delete(this,row)" ng-show="accountProfile.profile.pages_access[module.id].delete.delete_fee"><i class="fa fa-close"></i></a>
		</td>
	  </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5" style="text-align: center;">
				<ul uib-pagination boundary-links="true" total-items="filterData.length" max-size="maxSize" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</td>
		</tr>
	</tfoot>	
  </table>
</div>