<div class="table-responsive">
	<table class="table table-striped jambo_table bulk_action">
		<thead>
			<tr class="headings"><th>Date</th><th>Description</th><th></th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="h in filterData = (holidays | filter: views.search) | pagination: currentPage:pageSize">
				<td>{{h.holiday_date}}</td>
				<td>{{h.holiday_description}}</td>
				<td class="last list-action">
					<a href="javascript:;" ng-click="form.holiday(this,h)" style="margin-right: 10px;"><i class="fa fa-search"></i></a>
					<a href="javascript:;" ng-click="form.delete(this,h)"><i class="fa fa-close"></i></a>
				</td>
			</tr>
		</tbody>
	<tfoot>
		<tr>
			<td colspan="3" style="text-align: center;">
				<ul uib-pagination boundary-links="true" total-items="filterData.length" max-size="maxSize" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</td>
		</tr>
	</tfoot>		
	</table>
</div>