<div class="row">
	<div class="col-md-3 col-md-offset-9 form-group has-feedback">
		<div class="input-group">
			<input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="views.records.search" placeholder="Search for...">
			<span class="input-group-btn"></span>
		</div>
	</div>
</div>
<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
	<thead>
	  <tr class="headings">
		<th class="column-title">Type </th>
		<th class="column-title">Subject </th>
		<th class="column-title">Content </th>
		<th class="column-title no-link last"><span class="nobr">Action</span>
		</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="even pointer" ng-repeat="ln in pagination.records.filterData = (data.records | filter: views.records.search) | pagination: pagination.records.currentPage:pagination.records.pageSize">
		<td class="">{{ln.record_type}}</td>
		<td class="">{{ln.record_subject}}</td>
		<td class="">{{ln.record_text}}</td>
		<td class="last list-action">
			<a href="javascript:;" ng-click="records.record(this,ln)"><i class="fa fa-search" style="margin-right: 10px;"></i></a>
			<a href="javascript:;" ng-click="records.delete(this,ln)"><i class="fa fa-close"></i></a>
		</td>
	  </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4" style="text-align: center;">
				<ul uib-pagination boundary-links="true" total-items="pagination.loans.filterData.length" max-size="pagination.loans.maxSize" items-per-page="pagination.loans.pageSize" ng-model="pagination.loans.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</td>
		</tr>
	</tfoot>	
  </table>
</div>