<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
	<thead>
	  <tr class="headings">
		<th class="column-title">ID </th>
		<th class="column-title">Fullname </th>
		<th class="column-title">Division </th>
		<th class="column-title">Position </th>
		<th class="column-title">Address </th>
		<th class="column-title no-link last"><span class="nobr">Action</span>
		</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="even pointer"  dir-paginate="row in staffs | itemsPerPage: pageSize | filter: views.search" current-page="currentPage">
		<td class="">{{row.school_id}}</td>
		<td class="">{{row.fullname}}</td>
		<td class="">{{row.division}}</td>
		<td class="">{{row.position}}</td>
		<td class="">{{row.address}}</td>
		<td class="last list-action">
			<a href="javascript:;" ng-click="form.staff(this,row)"><i class="fa fa-pencil"></i></a>
			<a href="javascript:;" ng-click="form.delete(this,row)"><i class="fa fa-close"></i></a>
		</td>
	  </tr>
	</tbody>
  </table>
  <dir-pagination-controls template-url="modules/pagination/dirPagination.tpl.html" boundary-links="true"></dir-pagination-controls>
</div>