<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
	<thead>
	  <tr class="headings">
		<th class="column-title">LRN </th>
		<th class="column-title">Fullname </th>		
		<th class="column-title">Birthday </th>		
		<th class="column-title">Contact </th>
		<th class="column-title">Recent Level </th>
		<th class="column-title">Recent SY </th>
		<th class="column-title no-link last"><span class="nobr">Action</span>
		</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="even pointer" ng-repeat="row in filterData = (students | filter: views.search) | pagination: currentPage:pageSize">
		<td class="">{{row.lrn}}</td>
		<td class="">{{row.fullname}}</td>
		<td class="">{{row.date_of_birth}}</td>
		<td class="">{{row.contact_no}}</td>
		<td class="">{{row.current_level}}</td>
		<td class="">{{row.current_sy}}</td>
		<td class="last list-action">
			<a href="javascript:;" ng-click="form.student(row)" style="margin-right: 10px;"><i class="fa fa-search"></i></a>
			<a href="javascript:;" ng-click="form.delete(row)" ng-show="accountProfile.profile.pages_access[module.id].delete.delete_student"><i class="fa fa-close"></i></a>
		</td>
	  </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" style="text-align: center;">
				<ul uib-pagination boundary-links="true" total-items="filterData.length" max-size="maxSize" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</td>
		</tr>
	</tfoot>	
  </table>
</div>