<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
	<thead>
	  <tr class="headings">
		<th class="column-title"># </th>
		<th class="column-title">ID </th>
		<th class="column-title">Birthdate </th>		
		<th class="column-title">Last Name </th>
		<th class="column-title">First Name </th>
		<th class="column-title">Middle Name </th>				
		<th class="column-title">School Year </th>
		<th class="column-title">Imported </th>
		<th class="column-title no-link last"><span class="nobr">Action</span>
		</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="even pointer" ng-class="{'added-to-list':row.added}" ng-repeat="row in filterData = (enrollees | filter: views.search) | pagination: currentPage:pageSize">
		<td class="">{{row.enrollee_no}}</td>
		<td class="">{{row.enrollee_id}}</td>
		<td class="">{{row.enrollee_dob}}</td>		
		<td class="">{{row.enrollee_lname}}</td>
		<td class="">{{row.enrollee_fname}}</td>
		<td class="">{{row.enrollee_mname}}</td>
		<td class="">{{row.enrollee_sy}}</td>
		<td class="">{{row.enrollee_imported}}</td>
 		<td class="last list-action">
			<a href="javascript:;" ng-click="form.addId(this,row)"><i class="fa fa-arrow-right"></i></a>
		</td>
	  </tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8" style="text-align: center;">
				<ul uib-pagination boundary-links="true" total-items="filterData.length" max-size="maxSize" items-per-page="pageSize" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
			</td>
		</tr>
	</tfoot>	
  </table>
</div>