<form name="formHolder.student_enrollment" id="formHolder.student_enrollment" novalidate>

	<p class="tools-editor pull-right"><i class="fa" ng-class="{'fa-pencil': enrollmentBtns.ok.disabled, 'fa-ban': !enrollmentBtns.ok.disabled}" ng-click="enrollment.edit()"></i></p>
	<p class="tools-editor pull-right" style="margin-right: 10px;" ng-click="enrollment.print()"><i class="fa fa-print"></i></p>	
	<div class="clearfix"></div>
	
	<div class="ln_solid"></div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 50px;">
			<div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.student_enrollment.enrollment_school_year.$touched && formHolder.student_enrollment.enrollment_school_year.$invalid}">
				<label>School Year</label>
				<select class="form-control" name="enrollment_school_year" ng-model="student_enrollment.enrollment_school_year" ng-options="sy as sy.school_year for sy in school_years track by sy.id" ng-disabled="enrollmentBtns.ok.disabled" required></select>
				<span class="help-block" ng-show="formHolder.student_enrollment.enrollment_school_year.$touched && formHolder.student_enrollment.enrollment_school_year.$invalid">School year is required</span>
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label>School ID</label>
				<input type="text" class="form-control" name="school_id" ng-model="student_enrollment.school_id" ng-disabled="enrollmentBtns.ok.disabled">
			  </div> 	  
			</div>
			<div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.student_enrollment.grade.$touched && formHolder.student_enrollment.grade.$invalid}">
				<label>Level</label>
				<select class="form-control" name="grade" ng-model="student_enrollment.grade" ng-options="level as level.description for level in levels track by level.id" ng-change="enrollment.levelSelected(student_enrollment.grade)" ng-disabled="enrollmentBtns.ok.disabled" required></select>
				<span class="help-block" ng-show="formHolder.student_enrollment.grade.$touched && formHolder.student_enrollment.grade.$invalid">Level year is required</span>
			  </div>
			  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label>Section</label>
				<select class="form-control" name="section" ng-model="student_enrollment.section" ng-options="section as section.description for section in sections track by section.id" ng-disabled="enrollmentBtns.ok.disabled"></select>
			  </div>		
			</div>
			<div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
				<label>RFID</label>
				<input type="text" class="form-control" name="rfid" ng-model="student_enrollment.rfid" ng-disabled="enrollmentBtns.ok.disabled">
			  </div>
			</div>
			<div class="ln_solid"></div>			
			<div class="row">
			  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invoice-header">
				<h4>Details</h4>
				<table class="table table-bordered">
					<tbody>
						<tr><td>Sub Total</td><td>Php. {{details.sub_total_str}}</td></tr>
						<tr>
							<td>Voucher</td>
							<td class="form-group" ng-class="{'has-error': formHolder.student_enrollment.voucher.$touched && formHolder.student_enrollment.voucher.$invalid}">
								<div class="input-group">
									<input type="text" class="form-control" name="voucher" ng-model="details.voucher.amount" ng-keyup="enrollment.total()" ng-disabled="!details.voucher.enable || enrollmentBtns.ok.disabled" ng-required="details.voucher.enable">
									<span class="input-group-btn">
									  <button type="button" class="btn btn-default" ng-disabled="enrollmentBtns.ok.disabled" ng-click="enrollment.voucher()"><i ng-class="{'fa': true, 'fa-plus': !details.voucher.enable, 'fa-close': details.voucher.enable}"></i></button>
									</span>
								</div>
							</td>
						</tr>
						<tr><td>Discount</td><td><input type="text" class="form-control" ng-model="details.discount" ng-keyup="enrollment.total()" ng-disabled="enrollmentBtns.ok.disabled"></td></tr>						
						<tr><td>Total</td><td>Php. {{details.total_str}}</td></tr>
					</tbody>
				</table>
			  </div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<section class="content invoice">
				<div class="row">
					<div class="col-xs-12 invoice-header">
						<h4>School Fees <i class="fa fa-download pull-right students-fees-download" ng-click="enrollment.levelSelected(student_enrollment.grade)"></i></h4>
						<table class="table table-striped">
							<thead>
								<tr><th>#</th><th>Description</th><th>Amount</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="enrollment_fee in enrollment_fees"><td>{{$index+1}}</td><td>{{enrollment_fee.description}}</td><td>{{enrollment_fee.amount}}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5 form-group">
		  <button type="button" class="btn btn-primary" type="button" ng-click="enrollment.list(null)">{{enrollmentBtns.cancel.label}}</button>
		  <button type="button" class="btn btn-success" ng-disabled="enrollmentBtns.ok.disabled" ng-click="enrollment.save()">{{enrollmentBtns.ok.label}}</button>
		</div>
	</div>	
</form>