<p class="tools-editor pull-right"><i class="fa fa-plus" ng-click="form.edit(this,null)"></i></p>
<div class="clearfix"></div>
	<section class="content invoice clearfix">
		<div class="row invoice-info">
			<div class="col-md-3 col-sm-3 invoice-col">
				Fullname:&nbsp;<strong>{{enrollment_info.fullname}}</strong><br>
				Date Enrolled:&nbsp;<strong>{{enrollment_info.enrollment_date}}</strong><br>
				School Year:&nbsp;<strong>{{enrollment_info.enrollment_school_year}}</strong>
			</div>			
			<div class="col-md-3 col-sm-3 invoice-col">
				LRN:&nbsp;<strong>{{enrollment_info.lrn}}</strong><br>
				School ID:&nbsp;<strong>{{enrollment_info.school_id}}</strong><br>
				Grade:&nbsp;<strong>{{enrollment_info.grade}}</strong><br>
				Section:&nbsp;<strong>{{enrollment_info.section}}</strong>				
			</div>
			<div class="col-md-3 col-sm-3 invoice-col">
				Sub Total:&nbsp;<strong>Php. {{formatThousandsNoRounding(enrollment_info.sub_total,2)}}</strong><br>
				Discount:&nbsp;<strong>Php. {{formatThousandsNoRounding(enrollment_info.discount,2)}}</strong><br>
				Total:&nbsp;<strong>Php. {{formatThousandsNoRounding(enrollment_info.total,2)}}</strong>
			</div>
			<div class="col-md-3 col-sm-3 invoice-col">
				Total Payments:&nbsp;<strong>Php. {{formatThousandsNoRounding(enrollment_info.payments,2)}}</strong><br>
				Balance:&nbsp;<strong>Php. {{formatThousandsNoRounding(enrollment_info.balance,2)}}</strong>
			</div>			
		</div>
	</section>
</div>
<div class="ln_solid"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
	<table class="table table-striped jambo_table bulk_action">
		<thead>
			<tr class="headings"><th>Description</th><th>Month</th><th>OR</th><th>Amount</th><th>Date</th><th></th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in payments">
				<td>{{row.description.description}}</td>
				<td>{{row.payment_month.name}}</td>
				<td>{{row.official_receipt}}</td>				
				<td>{{formatThousandsNoRounding(row.amount_str,2)}}</td>
				<td>{{row.payment_date_str}}</td>
				<td class="last list-action">
					<a href="javascript:;" ng-click="form.edit(this,row)" style="margin-right: 10px;"><i class="fa fa-edit"></i></a>
					<a href="javascript:;" ng-click="form.delete(this,row)"><i class="fa fa-close"></i></a>						
				</td>
			</tr>
		</tbody>
	</table>	
  </div>  
</div>
<div class="ln_solid"></div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5 form-group">
	  <button type="button" class="btn btn-primary" type="button" ng-click="form.list(this)">Close</button>
	</div>
</div>