<div class="" role="tabpanel">
  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	<li role="presentation" class="active"><a href="#basic_info" role="tab" data-toggle="tab" aria-expanded="true">Basic Info</a>
	</li>
	<li role="presentation" class=""><a href="#leaves" role="tab" data-toggle="tab" aria-expanded="false">Leaves</a>
	</li>
	<li role="presentation" class=""><a href="#travel_orders" role="tab" data-toggle="tab" aria-expanded="false">Travel Orders</a>
	</li>
	<li role="presentation" class=""><a href="#loans" role="tab" data-toggle="tab" aria-expanded="false">Loans</a>
	</li>	
  </ul>
  <div id="myTabContent" class="tab-content">
	<div role="tabpanel" class="tab-pane fade active in" id="basic_info">
		<form name="formHolder.staff" id="formHolder.staff" novalidate>
		<p class="tools-editor pull-right"><i class="fa" ng-class="{'fa-pencil': btns.ok.disabled, 'fa-ban': !btns.ok.disabled}" ng-click="form.edit(this)"></i></p>
		<div class="clearfix"></div>
		<hr>		
		<h4><strong>Basic Info</strong></h4>
		<hr>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>School ID</label>
			<input type="text" placeholder="" class="form-control" name="school_id" ng-model="staff.school_id" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>RFID</label>
			<input type="text" placeholder="" class="form-control" name="rfid" ng-model="staff.rfid" ng-disabled="btns.ok.disabled">
		  </div>  
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.staff.employment_status.$touched && formHolder.staff.employment_status.$invalid}">
			<label>Employment Status</label>
			<select class="form-control" name="employment_status" ng-model="staff.employment_status" ng-disabled="btns.ok.disabled" required>
				<option value="">-</option>
				<option value="Regular">Regular</option>
				<option value="Contractual">Contractual</option>
				<option value="EOC">EOC</option>
				<option value="Resigned">Resigned</option>
			</select>
			<span class="help-block" ng-show="formHolder.staff.employment_status.$touched && formHolder.staff.employment_status.$invalid">Employment Status is required</span>	
		  </div>  
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.staff.lastname.$touched && formHolder.staff.lastname.$invalid}">
			<label>Last Name</label>
			<input type="text" placeholder="" class="form-control" name="lastname" ng-model="staff.lastname" ng-disabled="btns.ok.disabled" required>
			<span class="help-block" ng-show="formHolder.staff.lastname.$touched && formHolder.staff.lastname.$invalid">Last Name is required</span>
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.staff.firstname.$touched && formHolder.staff.firstname.$invalid}">
			<label>First Name</label>
			<input type="text" placeholder="" class="form-control" name="firstname" ng-model="staff.firstname" ng-disabled="btns.ok.disabled" required>
			<span class="help-block" ng-show="formHolder.staff.firstname.$touched && formHolder.staff.firstname.$invalid">First Name is required</span>	
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.staff.middlename.$touched && formHolder.staff.middlename.$invalid}">
			<label>Middle Name</label>
			<input type="text" placeholder="" class="form-control" name="middlename" ng-model="staff.middlename" ng-disabled="btns.ok.disabled" required>
			<span class="help-block" ng-show="formHolder.staff.middlename.$touched && formHolder.staff.middlename.$invalid">Middle Name is required</span>	
		  </div>  
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Nick Name</label>
			<input type="text" placeholder="" class="form-control" name="nickname" ng-model="staff.nickname" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.staff.gender.$touched && formHolder.staff.gender.$invalid}">
			<label>Gender</label>
			<select class="form-control" name="gender" ng-model="staff.gender" ng-disabled="btns.ok.disabled" required>
				<option value="">-</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
			<span class="help-block" ng-show="formHolder.staff.gender.$touched && formHolder.staff.gender.$invalid"></span>	
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Birthday</label>
			<input type="date" placeholder="" class="form-control" name="birthday" ng-model="staff.birthday" ng-disabled="btns.ok.disabled">
		  </div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 form-group">
				<label>Civil Status</label>
				<select class="form-control" name="civil_status" ng-model="staff.civil_status" ng-disabled="btns.ok.disabled">
					<option value="">-</option>
					<option value="1">Single</option>
					<option value="2">Married</option>
					<option value="3">Widowed</option>
					<option value="4">Divorced</option>
					<option value="5">Separated</option>
				</select>
			</div> 
		  <div class="col-md-8 col-sm-12 col-xs-12 form-group">
			<label>Address</label>
			<input type="text" placeholder="" class="form-control" name="address" ng-model="staff.address" ng-disabled="btns.ok.disabled">
		  </div> 
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Contact</label>
			<input type="text" placeholder="" class="form-control" name="contact" ng-model="staff.contact" ng-disabled="btns.ok.disabled">
		  </div> 
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Email</label>
			<input type="email" placeholder="" class="form-control" name="email" ng-model="staff.email" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Position</label>
			<input type="text" placeholder="" class="form-control" name="position" ng-model="staff.position" ng-disabled="btns.ok.disabled">
		  </div> 
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Field of work</label>
			<select class="form-control" name="field_of_work" ng-model="staff.field_of_work" ng-disabled="btns.ok.disabled">
				<option value="Teaching">Teaching</option>
				<option value="Admin">Admin</option>
				<option value="Maintenance">Maintenance</option>
			</select>
		  </div> 			
		</div>
		<hr>
		<h4><strong>Payroll Info</strong></h4>
		<hr>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Basic Pay</label>
			<input type="text" placeholder="" class="form-control" name="basic_pay" ng-model="staff.basic_pay" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>COLA</label>
			<input type="text" placeholder="" class="form-control" name="cola" ng-model="staff.cola" ng-disabled="btns.ok.disabled">
		  </div>
		</div>		
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Gross Pay</label>
			<input type="text" placeholder="" class="form-control" name="gross_pay" ng-model="staff.gross_pay" ng-disabled="btns.ok.disabled">
		  </div>  		
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>SSS No</label>
			<input type="text" placeholder="" class="form-control" name="sss" ng-model="staff.sss" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>HDMF No</label>
			<input type="text" placeholder="" class="form-control" name="hdmf" ng-model="staff.hdmf" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>PHIC No</label>
			<input type="text" placeholder="" class="form-control" name="phic" ng-model="staff.phic" ng-disabled="btns.ok.disabled">
		  </div>   
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>TIN No</label>
			<input type="text" placeholder="" class="form-control" name="tin" ng-model="staff.tin" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>ST</label>
			<input type="text" placeholder="" class="form-control" name="st" ng-model="staff.st" ng-disabled="btns.ok.disabled">
		  </div>
		</div>
		<h4 style="margin-top: 10px;"><strong>Deductions</strong></h4>		
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>SSS Contribution</label>
			<input type="text" placeholder="" class="form-control" name="sss_amount" ng-model="staff.sss_amount" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>First Half</label>
			<input type="text" placeholder="" class="form-control" name="sss_amount_first" ng-model="staff.sss_amount_first" ng-disabled="btns.ok.disabled">
		  </div> 
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Second Half</label>
			<input type="text" placeholder="" class="form-control" name="sss_amount_second" ng-model="staff.sss_amount_second" ng-disabled="btns.ok.disabled">
		  </div> 		  
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>HDMF Contribution</label>
			<input type="text" placeholder="" class="form-control" name="hdmf_amount" ng-model="staff.hdmf_amount" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>First Half</label>
			<input type="text" placeholder="" class="form-control" name="hdmf_amount_first" ng-model="staff.hdmf_amount_first" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Second Half</label>
			<input type="text" placeholder="" class="form-control" name="hdmf_amount_second" ng-model="staff.hdmf_amount_second" ng-disabled="btns.ok.disabled">
		  </div>		  
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>PHIC Contribution</label>
			<input type="text" placeholder="" class="form-control" name="phic_amount" ng-model="staff.phic_amount" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>First Half</label>
			<input type="text" placeholder="" class="form-control" name="phic_amount_first" ng-model="staff.phic_amount_first" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Second Half</label>
			<input type="text" placeholder="" class="form-control" name="phic_amount_second" ng-model="staff.phic_amount_second" ng-disabled="btns.ok.disabled">
		  </div>		  
		</div>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Tax Amount</label>
			<input type="text" placeholder="" class="form-control" name="tax_amount" ng-model="staff.tax_amount" ng-disabled="btns.ok.disabled">
		  </div> 
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>First Half</label>
			<input type="text" placeholder="" class="form-control" name="tax_amount_first" ng-model="staff.tax_amount_first" ng-disabled="btns.ok.disabled">
		  </div> 
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Second Half</label>
			<input type="text" placeholder="" class="form-control" name="tax_amount_second" ng-model="staff.tax_amount_second" ng-disabled="btns.ok.disabled">
		  </div> 		  
		</div>
		<h4 style="margin-top: 25px;"><strong>DTR Info</strong></h4>
		<hr>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Schedule</label>
			<select class="form-control" ng-model="staff.schedule_id" ng-options="schedule.description for schedule in schedules track by schedule.id" ng-disabled="btns.ok.disabled"></select>
		  </div>  
		</div>		
		<h4 style="margin-top: 25px;"><strong>Account Info</strong></h4>
		<hr>
		<div class="row">
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Username</label>
			<input type="text" placeholder="" class="form-control" name="username" ng-model="staff.username" ng-disabled="btns.ok.disabled">
		  </div>
		  <div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<label>Password</label>
			<input type="password" placeholder="" class="form-control" name="password" ng-model="staff.password" ng-disabled="btns.ok.disabled">
		  </div>  
		</div>
		<div class="ln_solid"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5 form-group">
			  <button type="button" class="btn btn-primary" type="button" ng-click="form.list(this)">{{btns.cancel.label}}</button>
			  <button type="button" class="btn btn-success" ng-disabled="btns.ok.disabled" ng-click="form.save(this)">{{btns.ok.label}}</button>
			</div>
		</div>
		</form>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="leaves">
		<div class="x_panel">
		  <div class="x_title">
			<h2>{{views.leaves.panel_title}}</h2>
			<ul class="nav navbar-right panel_toolbox">
			  <li><a class="collapse-leaves"><i class="fa fa-chevron-up"></i></a>
			  </li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-tasks"></i></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="javascript:;" ng-click="leaves.leave(this,null)">Add New Leave</a></li>
				  <li><a href="javascript:;" ng-click="leaves.list(this)">Leaves List</a></li>
				</ul>
			  </li>
			  <!--<li><a class="close-link"><i class="fa fa-close"></i></a></li>-->
			</ul>
			<div class="clearfix"></div>
		  </div>
		  <div id="x_content_leaves" class="x_content"></div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="travel_orders">
		<div class="x_panel">
		  <div class="x_title">
			<h2>{{views.tos.panel_title}}</h2>
			<ul class="nav navbar-right panel_toolbox">
			  <li><a class="collapse-tos"><i class="fa fa-chevron-up"></i></a>
			  </li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-tasks"></i></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="javascript:;" ng-click="tos.to(this,null)">Add New TO</a></li>
				  <li><a href="javascript:;" ng-click="tos.list(this)">TOs List</a></li>
				</ul>
			  </li>
			  <!--<li><a class="close-link"><i class="fa fa-close"></i></a></li>-->
			</ul>
			<div class="clearfix"></div>
		  </div>
		  <div id="x_content_tos" class="x_content"></div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane fade" id="loans">
		<div class="x_panel">
		  <div class="x_title">
			<h2>{{views.loans.panel_title}}</h2>
			<ul class="nav navbar-right panel_toolbox">
			  <li><a class="collapse-loans"><i class="fa fa-chevron-up"></i></a>
			  </li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-tasks"></i></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="javascript:;" ng-click="loans.loan(this,null)">Add New Loan</a></li>
				  <li><a href="javascript:;" ng-click="loans.list(this)">Loans List</a></li>
				</ul>
			  </li>
			  <!--<li><a class="close-link"><i class="fa fa-close"></i></a></li>-->
			</ul>
			<div class="clearfix"></div>
		  </div>
		  <div id="x_content_loans" class="x_content"></div>
		</div>
	</div>	
  </div>
</div>